.rightSide-img{
    position: absolute; 
    right: 0;
    top: 20rem;
    z-index: 3;
}

.Welcome-page{
    height: 100vh;
}

.scrolling-recipes{
    background-color: #111111;
    border-radius: 25px;
    width: 975px;
    height: 1065px;
}

.TitleCard{
    position: absolute;
    text-align: left;
    width: 29rem;
}

.TitleCard h1{
    margin-bottom: -0.4rem;
    line-height: 1;
    font-size: 48px;
}

.TitleCard h5{
    padding-left: 1rem;
}

.searchBar{
    margin-top: 2rem;
    background-color: #A8A8A8;
    width: 33rem;
    height: 4rem ;
    border: none;
    border-radius: 25px;
    display: flex;
    text-align: left;
    align-items: center;
    margin-bottom: -1rem;
    color: #4d4d4d;
    padding-left: 1rem;
}


.searchBar::placeholder{
    color: #4d4d4d;
}

.searchBar:focus{
    outline: none;
}


/*------------ Scrolling section --------------------*/
.scrolling-recipes{
    position: relative;
    z-index: 1;
    

}
.scroll-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    color: #A8A8A8;
}

.scroll-header h1{
    font-size: 42px;
    margin-bottom: -2rem;
}

.scroll-header h3{
    margin-bottom: -2rem;
}

.LeftsidePie{
    position: absolute;
    left: 140px;
    top: 90rem;
    z-index: 2;
}

.Scroll-Footer{
    position: absolute;
    bottom: 0;
    right: 23rem;
}

.recipes-container-right {
    display: flex;
    overflow-x: hidden; /* Hide horizontal overflow */
    margin-top: 5rem;
    position: relative; /* Position the container */
  }
  
  @keyframes scrollRight {
    0% {
      transform: translateX(0); /* Start from initial position */
    }
    100% {
      transform: translateX(calc(-100% - 10px)); /* Translate the inner content to the left by its width */
    }
  }
  
  .recipes-container-right > div {
    display: flex;
    animation: scrollRight 21s linear infinite; /* Apply animation to the inner content */
  }


.recipe-card {
  background-color:  #A8A8A8;;
  width: 200px;
  border: 1px  none;
  border-radius: 5px;
  margin-right: 10px;
}

.recipe-card {
    flex-shrink: 0; /* Prevent the card from shrinking */
    width: 400px; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
    margin-right: 10px; /* Add margin between recipe cards */
    overflow: hidden; /* Ensure the image doesn't overflow the card */
    position: relative; /* Position the cards */
  }

.recipe-card img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 5px;
  z-index: 1;
}


.recipe-card h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; /* Center the text horizontally */
    padding: 5px; /* Add some padding to the text */
    margin: 0; /* Remove default margin */
}


.recipe-card a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit the color from its parent */
  }
