nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    border-right: 1px solid;
    border-color: rgba(152,152,152,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.nav-links ul:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    margin-bottom: 20rem;

}

.nav-links li{
    padding-left: 0.5rem;
    display: flex;
}

.Icons{
    height: 2.5rem;
}
.Logo{
    height: auto;
    width: 8rem;
    margin-bottom: -1rem;
    margin-top: 24px;
}


.nav-links li {
    padding-bottom: 24px;
}



/*-------------FOOOTER-------------*/

.Footer{
    border-top: 1px solid;
    border-color: rgba(152,152,152,0.5);
    margin-top: 15rem;
    color: rgba(152,152,152,0.5);
}